
// Writehand

Model "claude" {
    provider "Anthropic" {
        url "https://api.anthropic.com/v1/complete"
        key $ANTHROPIC_API_KEY
        model_name "claude-3-5-sonnet-20240620"
    }
    system "You are an expert in web development with a specialty in Typescript and Svelte"
    temp 0.8
    max_tokens 1024
}

FileRules {
    respect_gitignore true  // default true - use the gitignore if it exists
    exclude_non_text true   // default true - guesses to ignore for images etc
    exclude_dotfiles true   // default true - ignore files starting with a dot
    exclude "node_modules" ".sveltekit"      // manual excludes
    include "package.json" "tsconfig.json"   // manual includes
}

